*{
    box-sizing: border-box;
}

.taskDetailBody{
    min-height: 100vh;
    background-color: rgb(219, 219, 219);
}

.taskDetailContainer{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.taskDetailDetailsContainer{
    display: flex;
    flex-direction: column;
    background-color: rgb(0, 213, 255);
    width: 30em;
    border-radius: 21px;
    border-style: outset;
    transition: 0.5s;
    padding: 1em;
    overflow: hidden;
    scale: 0.9;
}

.taskDetailDetailsContainer:hover{
    scale: 1;
    box-shadow: 5px 5px 27px black;
}

.taskDetailRequestResponder{
    display: flex;
    flex-direction: column;
    gap: 0.3em;
    align-items: center;
    text-align: center;
    border-style: outset;
    padding: 0.3em;
    border-radius: 16px;
    background-color: rgba(0, 18, 217, 0.362);
    transition: 0.5s;
    scale: 0.75;
}

.taskDetailRequestResponder:hover{
    scale: 0.9;
    box-shadow: 7px 7px 27px black;
}

.taskDetailRequestResponderLbl{
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
}

.taskDetailBtnContainer{
    display: flex;
    gap: 1em
}

.taskDetailApproveBtn{
    width: 7em;
    font-size: 0.7em;
    font-weight: bold;
    border-radius: 7px;
    border: 1px solid black;
    background-color: green;
    color: white;
    transition: 0.5s;
}

.taskDetailApproveBtn:hover{
    scale: 1.1;
    box-shadow: 7px 7px 27px black;
    background-color: rgb(0, 181, 0);
}

.taskDetailDeclineBtn{
    width: 7em;
    font-size: 0.7em;
    font-weight: bold;
    border-radius: 7px;
    border: 1px solid black;
    background-color: red;
    color: white;
    transition: 0.5s;
}

.taskDetailDeclineBtn:hover{
    scale: 1.1;
    box-shadow: 7px 7px 27px black;
    background-color: rgb(255, 99, 99);
}

.taskDetailCompletedTask{
    color: green;
}

.taskDetailExpiredText{
    color: red;
    font-weight: bold;
}

.taskDetailTickIcon{
    position: absolute;
    bottom: 1em;
    right: 1em;
    background-color: rgb(0, 196, 0);
    padding: 0.7em;
    font-size: 1.2em;
    border-radius: 100%;
    border: 3px solid black;
    transition: 0.5s;
}

.taskDetailTickIcon:hover{
    scale: 1.1;
    box-shadow: 0px 0px 16px black;
    background-color: rgb(0, 255, 0);
}