.container{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
    width: 50%;
    margin: auto;
}

.error {
    border: 2px solid red;
}

.valid {
    border: 2px solid green;
}