*{
    box-sizing: border-box;
}

body{
    font-size: 1.5rem;
}
.topContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.topNav{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}

button {
    padding: 0px;
    font-size: 1em;
}