.headerComponentTopBar{
    text-align: center;
    backdrop-filter: blur(3px);
}

.headerComponentTitleLbl{
    font-size: 1.9em;
}

.headerComponentProfileIcon{
    font-size: 1.9em;
    float: right;
    position: absolute;
    top: 7px;
    cursor: pointer;
}